@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>Application Content Below Module to Check Live Demo: <a href="http://www.mvctutorials.somee.com/" target="_blank">Mvc Tutorails</a> or visit <a href="www.mvctutorials.somee.com" target="_blank">www.mvctutorials.somee.com</a></h2>
</div>

<div class="panel panel-info">
    <div class="panel-heading">@ViewBag.Message</div>
    <div class="panel-body">
        <p>In this Application I have Created <b>CRUD(Create,Read,Update,Delet)</b> Opration with inbuilt <b>Bootstrap Designing</b> that will easy understanding you how realtime Application Build and This is Fully <b>Responsive Application</b>.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Registration Module</div>
                    <div class="panel-body">
                        Registration Module is Perform the Insert Opration with User Basic Information @*The Part of CRUD opration is Create*@.
                        <a class="btn btn-default" href="/User/Registration">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Login Module</div>
                    <div class="panel-body">
                        Login Module is Perform the Aurthanticaion with User Mobile No And Password.
                        <a class="btn btn-default" href="/User/Login">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Forgot Password Module</div>
                    <div class="panel-body">
                        Forgot Password Module is Verify the User with his/her Mobile No @*if it is Authenticate then it will allow you to change the Password*@.
                        <a class="btn btn-default" href="/User/ForgotPassword">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">Blow Module You Can See After You Login in to the Portel. based on Realtime Application it will manage a Session try thison your own for better Understanding of MVC </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Profile Module</div>
                    <div class="panel-body">
                        Profile Module is Display Specific User Information and it can Update his/her Profile.
                        <a class="btn btn-default" href="/User/ProfileInfo">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Change Password Module</div>
                    <div class="panel-body">
                        Change Password Module is allow User to modify his/her existing Password.
                        <a class="btn btn-default" href="/User/ChangePassword">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Delete Account Module</div>
                    <div class="panel-body">
                        Delete Account Module is allow User to Delete his/her Account
                        <a class="btn btn-default" href="/Home/Index">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Logout Module</div>
                    <div class="panel-body">
                        Logout Button is Clear User Session and Redirect to Login Page.
                        <a class="btn btn-default" href="/Home/Index">Visit Page &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Listing Module</div>
                    <div class="panel-body">
                        Logout Button is Clear User Session and Redirect to Login Page.
                        <a class="btn btn-default" href="#" onclick="javascript:return alert('Other Module will Be Updated Soon Stay Connected. :)')">Coming Soon &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Other Module</div>
                    <div class="panel-body">
                        Partial view, DropDownList from DB, JQuery Exeternal Alert Message
                        <a class="btn btn-default" href="#" onclick="javascript:return alert('Radio Button, Check Box, Image Uploading, Store Procedure CRUD Operation, View, and More')">More &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>