@{
    ViewBag.Title = "Contact";
}

<h3></h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 style="text-align:center"><b>Contact</b></h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <b> Rajan Mistry</b><br />
                            From Gujarat, INDIA <br />
                            @*<abbr title="Phone">P:</abbr>
                                425.555.0100*@
                        </address>
                    </div>
                    <div class="col-md-6">
                        <address>
                            <strong>GitHub Profile:</strong>  <a target="_blank" href="https://github.com/RajanMistry88">RajanMistry88</a><br />
                            <strong>Project Source Code:</strong><a target="_blank" href="https://github.com/RajanMistry88/ASP.Net-MVC-CRUD-Opration-Using-Defult-theme">Download</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><h4 style="text-align:center"><b>ASP.Net Tutorial</b></h4></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <address>
                        <b>Kudvenkat</b> <a target="_blank" href="http://www.pragimtech.com/Home.aspx" target="_blank">Pragim Technologies</a><br />
                        From Bangalore, INDIA <br />
                    </address>
                </div>
                <div class="col-md-6">
                    <strong>YouTube:</strong>  <a target="_blank" href="https://www.youtube.com/user/kudvenkat">Kudvenkat</a><br />
                    <strong>BlogSpot:</strong> <a target="_blank" href="http://csharp-video-tutorials.blogspot.com/">Kudvenkat Blog</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading"><h4 style="text-align:center"><b>Best Video Tutorials</b></h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <strong>Interview</strong><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=-1NUQNSVVmk&list=PL6n9fhu94yhWlAv3hnHzOaMSeggILsZFs">C# interview questions and answers</a><br />
                <a target="_blank" href="http://interviewquestionstutorials.com/tag/125-top-mvc-interview-questions-kudvenkat/">Mvc interview questions</a><br />
                <a target="_blank" href="http://mvcquestions.blogspot.com/2011/11/mvc-interview-questions.html">Mvc interview questions</a><br />
                <hr>
                <strong>Object Oriented Programming</strong> <br />
                <a target="_blank" href="https://www.youtube.com/watch?v=JEFOXSiNM_0&list=PLePgxAvwOSJUr8gymUVUTzGvXdmuYuC1L">OOP Tutorial for Beginners (Hindi)</a><br />
                <hr>
                <strong>Bootstrap</strong><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=314m7YBRFvQ&list=PL6n9fhu94yhXd4xnk-j5FGhHjUv1LsF0V">Bootstrap Tutorial for Beginners</a><br />
                <hr>
                <strong>DataBase</strong> <br />
                <a target="_blank" href="https://www.youtube.com/watch?v=ZNObiptSMSI&list=PL08903FB7ACA1C2FB">SQL Server Tutorial for Beginners</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=HXV3zeQKqGY&t=218s">SQL Full Tutorial for Beginners (04:20:38)</a><br />
                <hr>
                <strong>ASP.NET</strong><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=ruf4U9_Rbss&list=PL8598C97BA1D871C1">Dot Net Basics Tutorial</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=3AYoipyqOkQ&list=PL6n9fhu94yhXQS_p1i-HLIftB9Y7Vnxlo">ASP.NET Tutorial for Beginners</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=-pzwRwYlXMw&list=PL6n9fhu94yhVm6S8I2xd6nYz2ZORd7X2v">ASP.NET MVC</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=0pcM6teVdKk&list=PL6n9fhu94yhW7yoUOGNOfHurUE6bpOO2b">ASP.NET Web API</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=Z7713GBhi4k&list=PL6n9fhu94yhUPBSX-E2aJCnCR3-_6zBZx">ASP.NET Entity Framework</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=QmfPmqMk9Xs&list=PL6n9fhu94yhVxEyaRMaMN_-qnDdNVGsL1">ASP.NET WCF</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=GhQ3WcbYWls&list=PLePgxAvwOSJV33LKz47Xq7U5q4wkC2TPU">Xamarin (Hindi)</a><br />
                <a target="_blank" href="https://www.youtube.com/watch?v=4zNXkIQsFxE&list=PL6n9fhu94yhVSqRSfp-6xJjVqR3xWK2IY">C# Unit Testing Tutorial</a><br />

            </div>
            <div class="col-md-4">
                <address>
                    <strong>Ionic Framework</strong><br />
                    <a target="_blank" href="https://ionicframework.com/docs/components/">Ionic Start</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=kM4cCQn8Bz4&list=PLNFwX8PVq5q5SuSRwwEunXLuz6ZBzz6YG">Ionic Beginners Tutorial</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=igJFPu6RrJ0&list=PLNFwX8PVq5q6CHLk0tLCiyh96nALzi3_x">Ionic Advanced Tutorial</a><br />
                    <hr>
                    <strong>JQuery</strong> <br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=a59kOE2Ma1Q&list=PL6n9fhu94yhVDV697uvHpavA3K_eWGQap">JQuery Tutorial for Beginners</a><br />
                    <hr>
                    <strong>Java Script</strong> <br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=PMsVM7rjupU&list=PL6n9fhu94yhUA99nOsJkKXBqokT3MBK0b">JavaScript Tutorial for Beginners</a><br />
                    <hr>
                    <strong>Web Development & Hosting</strong> <br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=IXlqgDtmsMY&list=PL3-w5N_JJnKK6gFaB1wdbJdDF_4kwXuiB">Web Hosting, AdSense, SEO, CloudFlare (Hindi)</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=RsQ1tFLwldY">What is Web Application?</a><br />
                    <hr>
                    <strong>Angular</strong><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=WWQZCDegWHg&list=PL6n9fhu94yhWqGD8BuKuX-VTKqlNBj-m6">Angular 2 Tutorial for Beginners</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=rJ9o4TyhSuo&list=PL6n9fhu94yhWUcq5Pc16uf8YKXoZ87Vh_">Angular CLI</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=JYPyy-hvjYc&list=PL6n9fhu94yhXwcl3a6rIfAI7QmGYIkfK5">Angular CRUD Tutorial</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=JYPyy-hvjYc&list=PL6n9fhu94yhXwcl3a6rIfAI7QmGYIkfK5">Angular 2 Full Video Tutorial (07:32:43)</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=JYPyy-hvjYc&list=PL6n9fhu94yhXwcl3a6rIfAI7QmGYIkfK5">Angular 5 Full Video Tutorial (11:33:59)</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=CusfUmB6mkY&list=PL6n9fhu94yhWNJaDgh0mfae_9xoQ4E_Zj">Angular 6 Tutorial for Beginners</a><br />
                </address>
            </div>
            <div class="col-md-4">
                <address>
                    <strong>Ethical Hacking</strong><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=vg9cNFPQFqM">Ethical Hacking Beginners to Advanced (15:55:19)</a><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=XTSc2mPF4II">Wireshark Beginners to Advanced (04:55:13)</a><br />
                    <a target="_blank" href="https://www.youtube.com/channel/UCYS9sTrPpcIVDxz2yVPbuLw/playlists">Ethical Hacking Tutorial (Hindi)</a><br />
                    <hr>
                    <strong>Python</strong> <br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=rfscVS0vtbw&t=696s">Python Full Video Tutorial (04:26:51)</a><br />
                    <hr>
                    <strong>Azure</strong><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=wdUK7bCMXqs&t=219s">Azure Tutorial for Beginners (40:40)</a><br />
                    <hr>
                    <strong>Java</strong> <br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=HexxE24Bq7M&list=PL6n9fhu94yhWizLudXueXf16yJzlwNrSc">Java Tutorial</a><br />
                    <hr>
                    <strong>Linux</strong><br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=wBp0Rb-ZJak">Linux Beginners to Advanced (07:23:52)</a><br />
                    <hr>
                    <strong>Software</strong><br />
                    <a target="_blank" href="https://visualstudio.microsoft.com/thank-you-downloading-visual-studio/?sku=Community&rel=15">Visual Studio 2017</a><br />
                    <a target="_blank" href="https://code.visualstudio.com/docs?dv=win&wt.mc_id=DX_841432&sku=codewin">Visual Studio Code</a><br />
                    <a target="_blank" href="https://www.microsoft.com/en-us/download/details.aspx?id=42299">SQL Server 2014 Express</a><br />
                    <a target="_blank" href="https://ionicframework.com/getting-started#cli">Ionic Framework</a><br />
                    <a target="_blank" href="https://nodejs.org/en/">NodeJS</a><br />
                </address>
            </div>
        </div>
    </div>
</div>
